<div id="todoDetailsPage">
  <button mat-icon-button color="primary" [routerLink]="['/']" class="btnBack" matTooltip="Return to list"
    matTooltipPosition="above">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-action-list class="selectedTodo">
    <div class="title">
      <h3>Title</h3>
      <p>{{ selectedTodo.title }}</p>
    </div>
    <div *ngIf="selectedTodo.details" class="infos">
      <h3>Details</h3>
      <p>{{ selectedTodo.details }}</p>
    </div>
    <mat-checkbox class="checkboxCompleted" [checked]="selectedTodo.completed" labelPosition="before" disabled>
      Completed
    </mat-checkbox>
  </mat-action-list>
</div>
