#todoDetailsPage {
  width: 100%;
  display: inline-flex;
  justify-content: center;

  .btnBack {
    margin: 1rem;
  }

  .selectedTodo {
    .infos {
      width: 20rem;
      word-break: break-all;
    }
  }
}
