<h1>{{ title }}</h1>

<!-- <h1>la todolist redux style !</h1>
<ul>
  <li *ngFor="let todo of (todos$ | async)?.data">
    <label>{{ todo.title }}</label>
    <input type="checkbox" [value]="todo.completed" />
    <button>Supprimer</button>
  </li>
</ul> -->

<!-- <form [formGroup]="todoForm" (ngSubmit)="addTodo(todoForm.value)">
  <label>Titre :</label>
  <input type="text" formControlName="title" placeholder="Title" />
  <input type="text" formControlName="details" placeholder="Description" />
  <label>Est-elle terminée ? :</label>
  <input type="checkbox" formControlName="completed" />
  <button>Créer</button>
</form>
<ul>
  <li *ngFor="let todo of todos$ | async">
    <label>{{ todo.title }}</label>
    <input type="checkbox" [ngModel]="todo.completed" />
    <button>Supprimer</button>
  </li>
</ul> -->


<form [formGroup]="todoForm" (ngSubmit)="addTodo(todoForm.value)">
  <mat-form-field floatLabel="auto" class="example-full-width">
    <input matInput formControlName="title" placeholder="Title" required>
  </mat-form-field>
  <mat-form-field floatLabel="auto" class="example-full-width">
    <textarea matInput formControlName="details" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-checkbox class="example-margin" formControlName="completed" labelPosition="before">
    Completed?
  </mat-checkbox>
  <button mat-icon-button>Add
    <mat-icon>add_circle</mat-icon>
  </button>
</form>

<form class="form-group">
  <mat-action-list *ngFor="let todo of todos$ | async | reverse">
    <mat-form-field class="example-full-width">
      <input matInput [value]="todo.title">
    </mat-form-field>
    <button mat-icon-button (click)="showTodo(todo.id)">Infos
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteTodo(todo.id)">Delete
      <mat-icon>remove_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="completeTodo(todo.id)">Completed
      <mat-icon *ngIf="todo.completed; else unchecked">check_circle</mat-icon>
      <ng-template #unchecked>
        <mat-icon>radio_button_unchecked</mat-icon>
      </ng-template>
    </button>
  </mat-action-list>
</form>


<!-- <p>
  Options selected: {{todos.selectedOptions.selected.length}}
</p> -->

<!-- <router-outlet></router-outlet> -->
