#todoListPage {

  .formGroup {
    text-align: center;

    .title,
    .infos,
    .btnAdd {
      padding: 1rem;
    }

    .title {
      width: 15rem;
    }

    .infos {
      width: 20rem;
    }
  }

  .todoList {
    text-align: center;

    .title {
      padding: 0 1rem;
      width: 20rem;
      word-break: break-all;
      display: inline-flex;

      &.completed {
        text-decoration: line-through;
      }
    }

    .btnInfos,
    .btnDelete,
    .checkboxCompleted {
      padding: 0 1rem;
    }

    .filter {
      text-align: center;
      padding: 1rem;

      .btnFilter {
        margin: 1rem;
      }
    }
  }

  .loader {
    position: absolute;
    left: 50%;
  }

}
