<div id="todoListPage">
  <form #formDirective="ngForm" [formGroup]="todoForm" (ngSubmit)="addTodo(todoForm.value)" class="formGroup">
    <mat-form-field floatLabel="auto" class="title">
      <input matInput formControlName="title" placeholder="Title" required>
    </mat-form-field>
    <mat-form-field floatLabel="auto" class="infos">
      <input matInput formControlName="details" placeholder="Description">
    </mat-form-field>
    <button mat-icon-button color="primary" class="btnAdd" matTooltip="Add todo" matTooltipPosition="above"
      [disabled]="f.title.errors">
      <mat-icon>add_circle</mat-icon>
    </button>
  </form>

  <div *ngIf="activeSpinner" class="loader">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>

  <div *ngIf="!activeSpinner" class="todoList">
    <mat-action-list *ngFor="let todo of todos$ | async | reverse">
      <mat-checkbox class="checkboxCompleted" [checked]="todo.completed" (change)="completeTodo(todo, $event.checked)"
        matTooltip="Completed" matTooltipPosition="left">
      </mat-checkbox>
      <label class="title" [class.completed]="todo.completed">{{ todo.title }}</label>
      <button mat-icon-button color="basic" (click)="showTodo(todo)" class="btnInfos" matTooltip="View details"
        matTooltipPosition="left">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)" class="btnDelete" matTooltip="Delete todo"
        matTooltipPosition="right">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </mat-action-list>
    <div class="filter">
      <button mat-raised-button color="basic" class="btnFilter" (click)="setFilter('all')">Show all</button>
      <button mat-raised-button color="basic" class="btnFilter" (click)="setFilter('completed')">Show completed</button>
      <button mat-raised-button color="basic" class="btnFilter" (click)="setFilter('active')">Show active</button>
    </div>
  </div>


</div>
